display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 58px 144px 35px;
gap: 43px;

position: absolute;
width: 1442px;
height: 451px;
left: calc(50% - 1442px/2);
top: 1226px;

background: #333333;
