display: flex;
flex-direction: row;
align-items: center;
padding: 20px 0px;
gap: 752px;
isolation: isolate;

position: absolute;
width: 1284px;
height: 70px;
left: calc(50% - 1284px/2 + 23.5px);
top: 29px;

