@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  align-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

footer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #333333;
}

.social-icons{
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 1%;
  width: 120px;
  height: 24.5px;
  order: 1;
  flex-grow: 0;
}

.header-links{
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 1%;
}

.right-side {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.topic {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.pageb {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}

.pageb:hover {
  text-decoration: underline;
}

.header-links li:hover{
  text-decoration: underline;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;

  width: 120px;
  height: 24.5px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

maingrid {
  flex: 1;
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  justify-items: center;
}

.gridTile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #fff;
  text-align: center;
}

.gridTile:hover{
  background-color: rgb(233, 228, 219);
}

header{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}